.profile-background {
    background-image: url('../../assets/BackroundProfile.png'); /* Update with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }