/* styles.css */
.custom-arrow {
    filter: brightness(0) invert(1);
    background-color: rgba(0, 0, 0, 0.5); /* Pour rendre la flèche plus foncée */
    border-radius: 50%;
    padding: 40px;
  }
  
  .custom-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Pour rendre la flèche encore plus foncée au survol */
  }
 
  .carou-item{
    cursor: pointer;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid rgb(122, 183, 215);
    transition: background-color 0.3s ease;
    background-color: rgba(37, 130, 135, 0.313);
    color:rgb(0, 0, 0) ;
  }
    
  