

.caption h1 {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.BT{
  background-color: blue;
  
}







.caption {
  margin-bottom: 20px; /* Space between caption and search bar */
}